{% extends 'admin/base.html' %}

{% block content %}
	{% if notAllowed %}
		<p>You are not allowed to edit this article</p>
	{% else %}
		<div class="article-form-container col-8">
			<div class="card">
				<div class="card-header">
					<h2 class="title">
						{% if action == 'create' %}
							Create
						{% else %}
							Update
						{% endif %}
					</h2>
				</div>
				<form class="article-form" method="post">
					<div class="card-body">
						<div class="form-group">
							<input type="text" class="form-control" name="meta-title" placeholder="Meta title" value="{{ body['meta-title'] }}">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="meta-description" placeholder="Meta description" value="{{ body['meta-description'] }}">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="meta-image" placeholder="Meta image" value="{{ body['meta-image'] }}">
						</div>

						<div class="form-group">
							<input type="text" class="form-control {% if errors.mainTitle %}is-invalid{% endif %}" name="main-title" placeholder="Main title" value="{{ body['main-title'] }}">
							<div class="invalid-feedback">
								{% for error in errors.mainTitle %}
									<p class="error">{{ error }}</p>
								{% endfor %}
							</div>
						</div>

						<div class="form-group">
							<input type="text" class="form-control {% if errors.url %}is-invalid{% endif %}" name="url" placeholder="URL" value="{{ body['url'] }}">
							<div class="invalid-feedback">
								{% for error in errors.url %}
									<p class="error">{{ error }}</p>
								{% endfor %}
							</div>
						</div>

						<div class="form-group">
							<textarea name="main-paragraph" class="form-control" placeholder="Main paragraph">{{ body['main-paragraph'] }}</textarea>
						</div>
						<div class="form-group">
							<textarea name="body" class="form-control" placeholder="body">{{ body['body'] }}</textarea>
						</div>
						<div class="form-group">
							<textarea name="schema-description" class="form-control" placeholder="Schema description">{{ body['schema-description'] }}</textarea>
						</div>

						<h3>Link blocks</h3>
						<div class="link-blocks">
							{% if action == 'update' and body['link-blocks']|length %}
								{% for linkBlock in body['link-blocks'] %}
									<div class="form-row block">
										<div class="form-group col">
											<input type="text" class="form-control" name="link-blocks[{{loop.index0}}][title]" placeholder="Title" value="{{ body['link-blocks'][loop.index0]['title'] }}">
										</div>
										<div class="form-group col">
											<input type="text" class="form-control" name="link-blocks[{{loop.index0}}][link-title]" placeholder="Link title" value="{{ body['link-blocks'][loop.index0]['link-title'] }}">
										</div>
										<div class="form-group col">
											<input type="text" class="form-control" name="link-blocks[{{loop.index0}}][link-href]" placeholder="Link href" value="{{ body['link-blocks'][loop.index0]['link-href'] }}">
										</div>
										<div class="form-group col">
											<button class="btn btn-primary add"><i class="fas fa-plus"></i></button>
											<button class="btn btn-danger remove"><i class="fas fa-minus"></i></button>
										</div>
									</div>
								{% endfor %}
							{% else %}
								<div class="form-row block">
									<div class="form-group col">
										<input type="text" class="form-control" name="link-blocks[0][title]" placeholder="Title" value="{{ body['link-blocks'][0]['title'] }}">
									</div>
									<div class="form-group col">
										<input type="text" class="form-control" name="link-blocks[0][link-title]" placeholder="Link title" value="{{ body['link-blocks'][0]['link-title'] }}">
									</div>
									<div class="form-group col">
										<input type="text" class="form-control" name="link-blocks[0][link-href]" placeholder="Link href" value="{{ body['link-blocks'][0]['link-href'] }}">
									</div>
									<div class="form-group col">
										<button class="btn btn-primary add"><i class="fas fa-plus"></i></button>
										<button class="btn btn-danger remove"><i class="fas fa-minus"></i></button>
									</div>
								</div>
							{% endif %}
						</div>

						<div class="navigations">
							<h3>Navigations</h3>
							<div class="navigation-top">
								<h4>Top</h4>
								<div class="form-group">
									<input type="text" class="form-control" name="navigations[top][title]" placeholder="Title" value="{{ body['navigations']['top']['title'] }}">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" name="navigations[top][paragraph]" placeholder="Paragraph" value="{{ body['navigations']['top']['paragraph'] }}">
								</div>
								<div class="links">
									<h4>Links</h4>
									{% if action == 'update' and body['navigations']['top']['links']|length %}
										{% for links in body['navigations']['top']['links'] %}
											<div class="form-row link">
												<div class="form-group col">
													<input type="text" class="form-control" name="navigations[top][links][{{loop.index0}}][title]" placeholder="Link title" value="{{ body['navigations']['top']['links'][loop.index0]['title'] }}">
												</div>
												<div class="form-group col">
													<input type="text" class="form-control" name="navigations[top][links][{{loop.index0}}][href]" placeholder="Link href" value="{{ body['navigations']['top']['links'][loop.index0]['href'] }}">
												</div>
												<div class="form-group col">
													<button class="btn btn-primary add"><i class="fas fa-plus"></i></button>
													<button class="btn btn-danger remove"><i class="fas fa-minus"></i></button>
												</div>
											</div>
										{% endfor %}
									{% else %}
										<div class="form-row link">
											<div class="form-group col">
												<input type="text" class="form-control" name="navigations[top][links][0][title]" placeholder="Link title" value="{{ body['navigations']['top']['links'][0]['title'] }}">
											</div>
											<div class="form-group col">
												<input type="text" class="form-control" name="navigations[top][links][0][href]" placeholder="Link href" value="{{ body['navigations']['top']['links'][0]['href'] }}">
											</div>
											<div class="form-group col">
												<button class="btn btn-primary add"><i class="fas fa-plus"></i></button>
												<button class="btn btn-danger remove"><i class="fas fa-minus"></i></button>
											</div>
										</div>
									{% endif %}
								</div>
							</div>
							<div class="navigation-bottom">
								<h4>Bottom</h4>
								<div class="form-group">
									<input type="text" class="form-control" name="navigations[bottom][title]" placeholder="Title" value="{{ body['navigations']['bottom']['title'] }}">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" name="navigations[bottom][paragraph]" placeholder="Paragraph" value="{{ body['navigations']['bottom']['paragraph'] }}">
								</div>
								<div class="links">
									<h4>Links</h4>
									{% if action == 'update' and body['navigations']['bottom']['links']|length %}
										{% for links in body['navigations']['bottom']['links'] %}
											<div class="form-row link">
												<div class="form-group col">
													<input type="text" class="form-control" name="navigations[bottom][links][{{loop.index0}}][title]" placeholder="Link title" value="{{ body['navigations']['bottom']['links'][loop.index0]['title'] }}">
												</div>
												<div class="form-group col">
													<input type="text" class="form-control" name="navigations[bottom][links][{{loop.index0}}][href]" placeholder="Link href" value="{{ body['navigations']['bottom']['links'][loop.index0]['href'] }}">
												</div>
												<div class="form-group col">
													<button class="btn btn-primary add"><i class="fas fa-plus"></i></button>
													<button class="btn btn-danger remove"><i class="fas fa-minus"></i></button>
												</div>
											</div>
										{% endfor %}
									{% else %}
										<div class="form-row link">
											<div class="form-group col">
												<input type="text" class="form-control" name="navigations[bottom][links][0][title]" placeholder="Link title" value="{{ body['navigations']['bottom']['links'][0]['title'] }}">
											</div>
											<div class="form-group col">
												<input type="text" class="form-control" name="navigations[bottom][links][0][href]" placeholder="Link href" value="{{ body['navigations']['bottom']['links'][0]['href'] }}">
											</div>
											<div class="form-group col">
												<button class="btn btn-primary add"><i class="fas fa-plus"></i></button>
												<button class="btn btn-danger remove"><i class="fas fa-minus"></i></button>
											</div>
										</div>
									{% endif %}
								</div>
							</div>
						</div>

						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="is-published" name="is-published" {% if body['is-published'] %}checked="checked"{% endif %}>
							<label class="form-check-label" for="is-published">Published</label>
						</div>
					</div>
					<div class="card-footer clearfix">
						<button type="submit" class="btn btn-lg btn-primary float-right"><i class="far fa-dot-circle"></i> {% if action == 'create' %}Create{% else %}Update{% endif %}</button>
					</div>
				</form>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block js %}
<script>
	$(function() {
		/* link blocks */
		$(document).on('click', '.link-blocks > .block .remove', function (e) {
			e.preventDefault();
			if ($('.link-blocks > .block').length === 1) return;
			$(this).closest('.block').remove();
		});
		$(document).on('click', '.link-blocks > .block .add', function (e) {
			e.preventDefault();
			var container = $('.link-blocks');
			var newBlock = container.children().filter('.block:first-child').clone();

			var newBlockTitle = newBlock.find('input[name*="[title]"]');
			var newBlockLinkTitle = newBlock.find('input[name*="[link-title]"]');
			var newBlockLinkHref = newBlock.find('input[name*="[link-href]"]');

			var count = parseInt(container.find('input[name*="[title]"]').last().attr('name').match(/\d+/)[0], 10) + 1;
			console.log('count', count);

			newBlockTitle.attr('name', newBlockTitle.attr('name').replace(/\d+/, count));
			newBlockLinkTitle.attr('name', newBlockLinkTitle.attr('name').replace(/\d+/, count));
			newBlockLinkHref.attr('name', newBlockLinkHref.attr('name').replace(/\d+/, count));

			newBlock.find('input').each(function() {
				$(this).val('');
			});
			container.append(newBlock);
		});

		/* top navigation */
		$(document).on('click', '.navigations .navigation-top .links > .link .remove', function (e) {
			e.preventDefault();
			if ($('.navigations .navigation-top .links > .link').length === 1) return;
			$(this).closest('.link').remove();
		});
		$(document).on('click', '.navigations .navigation-top .links > .link .add', function (e) {
			e.preventDefault();
			var container = $('.navigations .navigation-top .links');
			var newLink = container.children().filter('.link').first().clone();

			var newLinkTitle = newLink.find('input[name*="[title]"]');
			var newLinkHref = newLink.find('input[name*="[href]"]');
			var count = parseInt(container.find('input[name*="[title]"]').last().attr('name').match(/\d+/), 10) + 1;

			newLinkTitle.attr('name', newLinkTitle.attr('name').replace(/\d+/g, count));
			newLinkHref.attr('name', newLinkHref.attr('name').replace(/\d+/g, count));

			newLink.find('input').each(function() {
				$(this).val('');
			});
			container.append(newLink);
		});

		/* bottom navigation */
		$(document).on('click', '.navigations .navigation-bottom .links > .link .remove', function (e) {
			e.preventDefault();
			if ($('.navigations .navigation-bottom .links > .link').length === 1) return;
			$(this).closest('.link').remove();
		});
		$(document).on('click', '.navigations .navigation-bottom .links > .link .add', function (e) {
			e.preventDefault();
			var container = $('.navigations .navigation-bottom .links');
			var newLink = container.children().filter('.link').first().clone();

			var newLinkTitle = newLink.find('input[name*="[title]"]');
			var newLinkHref = newLink.find('input[name*="[href]"]');
			var count = parseInt(container.find('input[name*="[title]"]').last().attr('name').match(/\d+/), 10) + 1;

			newLinkTitle.attr('name', newLinkTitle.attr('name').replace(/\d+/g, count));
			newLinkHref.attr('name', newLinkHref.attr('name').replace(/\d+/g, count));

			newLink.find('input').each(function() {
				$(this).val('');
			});
			container.append(newLink);
		});
	});
</script>
{% endblock %}
