<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}Scotland Holiday Cottage{% endblock %}
		</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/coreui.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<link href="/static/css/index.css" rel="stylesheet">
		{% block head %}{% endblock %}
	</head>
	<body class="sidebar-lg-show">
		<header class="app-header navbar">
			<button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">Scotland</a>
			{% if username %}
				<button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
					<span class="navbar-toggler-icon"></span>
				</button>
			{% endif %}
			<ul class="nav navbar-nav d-md-down-none">
				{% if username %}
					<li class="nav-item px-3">
						<a class="nav-link" href="/admin/dashboard">Dashboard</a>
					</li>
					<li class="nav-item px-3">
						<a class="nav-link" href="#">Articles</a>
					</li>
					<li class="nav-item px-3">
						<a class="nav-link" href="#">Cottages</a>
					</li>
				{% endif %}
			</ul>
			<ul class="nav navbar-nav ml-auto">
				{% if username %}
					<li class="nav-item d-md-down-none">
						<a class="nav-link" href="/admin/dashboard"><i class="fas fa-user"></i> {{ username }}</a>
					</li>
					<li class="nav-item d-md-down-none">
						<a class="nav-link" href="/admin/logout">Log out <i class="fas fa-sign-out-alt"></i></a>
					</li>
				{% else %}
					<li class="nav-item d-md-down-none">
						<a class="nav-link" href="/admin">Log in</a>
					</li>
					<li class="nav-item d-md-down-none">
						<a class="nav-link" href="/admin/signup">Sign up</a>
					</li>
				{% endif %}
			</ul>
			<button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
			</button>
			<button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
			</button>
		</header>
		<div class="app-body">
			{% if username %}
				<div class="sidebar">
					<nav class="sidebar-nav">
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link" href="/admin/dashboard">Dashboard</a>
							</li>
							<li class="nav-title">Create New</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/articles/post">Article</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/cottages/post">Cottage</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/areas/post">Area</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/cottage-lists/post">Cottage List</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/special-offers/post">Special Offers</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/filter-properties">Filter Properties</a>
							</li>

							<li class="nav-title">List</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/articles">Articles</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/cottages">Cottages</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/areas">Areas</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/cottage-lists">Cottage Lists</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/special-offers">Special Offers</a>
							</li>
						</ul>
					</nav>
				</div>
			{% endif %}
			<main class="main">
				{% block content %}{% endblock %}
			</main>
		</div>

		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/popper.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/coreui.min.js"></script>
		{% block js %}{% endblock %}
	</body>
</html>
