<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}Scotland Holiday Cottage{% endblock %}
		</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% block head %}{% endblock %}
	</head>
	<body>
		{% block content %}{% endblock %}
		{% block js %}{% endblock %}
	</body>
</html>
