

{#
<div>
	<h2>{{ article.mainTitle }}</h2>
	<div class="link-blocks">
		{% for block in article.linkBlocks %}
			<div class="block" style="display: inline-block; margin: 0 10px;">
				<h3>{{ block.title }}</h3>
				<span>{{ block.linkTitle }}</span>
				<a href="">{{ block.linkHref }}</a>
			</div>
		{% endfor %}
	</div>
	<div class="top-nav" style="margin: 20px 0; background: steelblue">
		<h3>{{ article.navigations.top.title }}</h3>
		{% for link in article.navigations.top.links %}
			<a href="{{ link.href }}" style="margin: 0 20px">{{ link.title }}</a>
		{% endfor %}
	</div>
	<div class="body">
		{{ article.body|safe }}
	</div>
	<div class="bottom-nav" style="margin: 20px 0; background: steelblue">
		<h3>{{ article.navigations.bottom.title }}</h3>
		{% for link in article.navigations.bottom.links %}
			<a href="{{ link.href }}" style="margin: 0 20px">{{ link.title }}</a>
		{% endfor %}
	</div>
</div>
#}
