header.app-header.navbar {
	top: 0;
}

main {
	margin-bottom: 1000px;
}

.auth-form {
	width: 400px;
	margin: 20px auto 0 auto;
}

.article-form {
}

.article-list {
	margin-top: 20px;
}

.article-form-container,
.cottage-list-form-container,
.filter-form-container,
.special-offer-form-container {
	margin: 20px auto 0 auto;
}

.cottage-list-form-container .cottages .cottage {
	position: relative;
}
.cottage-list-form-container .cottages .cottage .hints {
	position: absolute;
	border: 1px solid gray;
	z-index: 100;
}
.cottage-list-form-container .cottages .cottage .hints .hint {
	display: block;
	width: 240px;
	padding: 5px;
	background: white;
	cursor: pointer;
}
.cottage-list-form-container .cottages .cottage .hints .hint:hover {
	color: black;
	background: #efefef;
}

.filters {
	margin: 10px 0;
}
.filters .filter {
	display: inline-block;
	padding: 5px 10px;
	background: steelblue;
	margin: 3px 0;
	color: #fff;
	font-size: 18px;
}
.filters .filter .remove:hover {
	color: red;
}
