<header>
	<div class="wrapper cf">
		<div class="left">
			<h2 class="logo"><a href="/">Scotland</a></h2>
		</div>
		<div class="right">
			{% if username %}
				<span class="user"><a href="/">{{ username }}</a></span>
				<span><a href="/admin/logout">Log out</a></span>
			{% else %}
				<span ><a href="/admin">Log in</a></span>
				<span ><a href="/admin/signup">Sign up</a></span>
			{% endif %}
		</div>
	</div>
</header>
