{% extends 'admin/base.html' %}

{% block content %}
	{% if notAllowed %}
		<p>You are not allowed to edit this cottage</p>
	{% else %}
		<div class="article-form-container col-8">
			<div class="card">
				<div class="card-header">
					<h2 class="title">
						{% if action == 'create' %}
							Create
						{% else %}
							Update
						{% endif %}
					</h2>
				</div>
				<form class="area-form" method="post">
					<div class="card-body">

						<div class="form-group">
							<input type="text" class="form-control {% if errors.area|length %}is-invalid{% endif %}" name="name" placeholder="Area" value="{{ body['name'] }}">
							<div class="invalid-feedback">
								{% for error in errors.area %}
									<p class="error">{{ error }}</p>
								{% endfor %}
							</div>
						</div>

						<div class="form-group">
							<input type="text" class="form-control" name="slug" placeholder="Slug" value="{{ body['slug'] }}">
						</div>

						<div class="counties">
							{% if action == 'update' %}
								{% if not body.counties|length %}
									<div class="county">
										<h2>County</h2>
										<div class="form-row">
											<div class="col">
												<input type="text" class="form-control county-name" name="counties[0][name]" placeholder="Name" value="{{ body['counties'][0]['title'] }}">
											</div>
											<div class="col">
												<input type="text" class="form-control county-slug" name="counties[0][slug]" placeholder="Slug" value="{{ body['counties'][0]['slug'] }}">
											</div>
										</div>

										<h3>Towns</h3>
										<div class="towns">
											<div class="form-row town">
												<div class="form-group col">
													<input type="text" class="form-control town-name" name="counties[0][towns][0][name]" placeholder="Name" value="{{ body['towns'][0]['title'] }}">
												</div>
												<div class="form-group col">
													<input type="text" class="form-control town-slug" name="counties[0][towns][0][slug]" placeholder="Slug" value="{{ body['towns'][0]['slug'] }}">
												</div>
												<div class="form-group col">
													<button class="btn btn-primary add-town"><i class="fas fa-plus"></i></button>
													<button class="btn btn-danger remove-town"><i class="fas fa-minus"></i></button>
												</div>
											</div>
										</div>

										<div class="form-group col">
											<button class="btn btn-primary py-2 px-4 add-county"><i class="fas fa-plus"></i></button>
											<button class="btn btn-danger py-2 px-4 remove-county"><i class="fas fa-minus"></i></button>
										</div>
									</div>
								{% endif %}

								{% for county in body.counties %}
									{% set county_loop = loop %}
									<div class="county">
										<h2>County</h2>
										<div class="form-row">
											<div class="col">
												<input type="text" class="form-control county-name" name="counties[{{loop.index0}}][name]" placeholder="Name" value="{{ county.name }}">
											</div>
											<div class="col">
												<input type="text" class="form-control county-slug" name="counties[{{loop.index0}}][slug]" placeholder="Slug" value="{{ county.slug }}">
											</div>
										</div>

										<h3>Towns</h3>
										{% if not county.towns|length %}
											<div class="towns">
												<div class="form-row town">
													<div class="form-group col">
														<input type="text" class="form-control town-name" name="counties[{{county_loop.index0}}][towns][0][name]" placeholder="Name" value="{{ town.name }}">
													</div>
													<div class="form-group col">
														<input type="text" class="form-control town-slug" name="counties[{{county_loop.index0}}][towns][0][slug]" placeholder="Slug" value="{{ town.slug }}">
													</div>
													<div class="form-group col">
														<button class="btn btn-primary add-town"><i class="fas fa-plus"></i></button>
														<button class="btn btn-danger remove-town"><i class="fas fa-minus"></i></button>
													</div>
												</div>
											</div>
										{% endif %}
										{% for town in county.towns %}
											<div class="towns">
												<div class="form-row town">
													<div class="form-group col">
														<input type="text" class="form-control town-name" name="counties[{{county_loop.index0}}][towns][{{loop.index0}}][name]" placeholder="Name" value="{{ town.name }}">
													</div>
													<div class="form-group col">
														<input type="text" class="form-control town-slug" name="counties[{{county_loop.index0}}][towns][{{loop.index0}}][slug]" placeholder="Slug" value="{{ town.slug }}">
													</div>
													<div class="form-group col">
														<button class="btn btn-primary add-town"><i class="fas fa-plus"></i></button>
														<button class="btn btn-danger remove-town"><i class="fas fa-minus"></i></button>
													</div>
												</div>
											</div>
										{% endfor %}

										<div class="form-group col">
											<button class="btn btn-primary py-2 px-4 add-county"><i class="fas fa-plus"></i></button>
											<button class="btn btn-danger py-2 px-4 remove-county"><i class="fas fa-minus"></i></button>
										</div>
									</div>
								{% endfor %}
							{% else %}
								<div class="county">
									<h2>County</h2>
									<div class="form-row">
										<div class="col">
											<input type="text" class="form-control county-name" name="counties[0][name]" placeholder="Name" value="{{ body['counties'][0]['title'] }}">
										</div>
										<div class="col">
											<input type="text" class="form-control county-slug" name="counties[0][slug]" placeholder="Slug" value="{{ body['counties'][0]['slug'] }}">
										</div>
									</div>

									<h3>Towns</h3>
									<div class="towns">
										<div class="form-row town">
											<div class="form-group col">
												<input type="text" class="form-control town-name" name="counties[0][towns][0][name]" placeholder="Name" value="{{ body['towns'][0]['title'] }}">
											</div>
											<div class="form-group col">
												<input type="text" class="form-control town-slug" name="counties[0][towns][0][slug]" placeholder="Slug" value="{{ body['towns'][0]['slug'] }}">
											</div>
											<div class="form-group col">
												<button class="btn btn-primary add-town"><i class="fas fa-plus"></i></button>
												<button class="btn btn-danger remove-town"><i class="fas fa-minus"></i></button>
											</div>
										</div>
									</div>

									<div class="form-group col">
										<button class="btn btn-primary py-2 px-4 add-county"><i class="fas fa-plus"></i></button>
										<button class="btn btn-danger py-2 px-4 remove-county"><i class="fas fa-minus"></i></button>
									</div>
								</div>
							{% endif %}
							
						</div>
					</div>

					<div class="card-footer clearfix">
						<button type="submit" class="btn btn-lg btn-primary float-right"><i class="far fa-dot-circle"></i> {% if action == 'create' %}Create{% else %}Update{% endif %}</button>
					</div>
				</form>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block js %}
	<script>
		$(function() {
			$(document).on('click', '.counties > .county .remove-county', function (e) {
				e.preventDefault();
				if ($('.counties > .county').length === 1) return;
				$(this).closest('.county').remove();
			});
			$(document).on('click', '.counties > .county .add-county', function (e) {
				e.preventDefault();
				var container = $('.counties');
				var newCounty = container.children().filter('.county:first-child').clone();
				console.log(newCounty)

				var newCountyName = newCounty.find('.county-name');
				var newCountySlug = newCounty.find('.county-slug');
				var newTownName = newCounty.find('.town-name');
				var newTownSlug = newCounty.find('.town-slug');

				var count = parseInt(container.find('.county-name').last().attr('name').match(/\d+/)[0], 10) + 1;
				console.log('count', count);

				newCounty.find('.towns').children().not(':first').remove();

				newCountyName.attr('name', newCountyName.attr('name').replace(/\d+/, count));
				newCountySlug.attr('name', newCountySlug.attr('name').replace(/\d+/, count));
				// kinda wrong -
				//						 |
				newTownName.attr('name', newTownName.attr('name').replace(/\d+/, count));
				newTownSlug.attr('name', newTownSlug.attr('name').replace(/\d+/, count));

				newCounty.find('input').each(function() {
					$(this).val('');
				});
				container.append(newCounty);
			});


			$(document).on('click', '.towns > .town .remove-town', function (e) {
				e.preventDefault();
				if ($('.towns > .town').length === 1) return;
				$(this).closest('.town').remove();
			});
			$(document).on('click', '.towns > .town .add-town', function (e) {
				e.preventDefault();
				console.log($(this))
				var container = $(this).parent().parent().parent(); // $('.towns');
				var newTown = container.children().filter('.town:first-child').clone();

				var newTownName = newTown.find('.town-name');
				var newTownSlug = newTown.find('.town-slug');

				var count = parseInt(container.find('.town-name').last().attr('name').match(/\d+/g)[1], 10) + 1;
				var occurrence = 0;

				console.log('twn count', count);

				newTownName.attr('name', newTownName.attr('name').replace(/\d+/g, function(match) {
					occurrence++;
					return occurrence === 2 ? count : match;
				}));
				occurrence = 0;
				newTownSlug.attr('name', newTownSlug.attr('name').replace(/\d+/g, function(match) {
					occurrence++;
					return occurrence === 2 ? count : match;
				}));

				// newTownName.attr('name', newTownName.attr('name').replace(/\d+/, count));
				// newTownSlug.attr('name', newTownSlug.attr('name').replace(/\d+/, count));

				newTown.find('input').each(function() {
					$(this).val('');
				});
				container.append(newTown);
			});
		});
	</script>
{% endblock %}
