{% extends 'admin/base.html' %}

{% block content %}
	{% if notAllowed %}
		<p>You are not allowed to edit this cottage list</p>
	{% else %}
		<div class="cottage-list-form-container col-8">
			<div class="card">
				<div class="card-header">
					<h2 class="title">
						{% if action == 'create' %}
							Create
						{% else %}
							Update
						{% endif %}
					</h2>
				</div>
				<form class="cottage-list-form" method="post">
					<div class="card-body">
						<div class="form-group">
							<input type="text" class="form-control" name="meta-title" placeholder="Meta title" value="{{ body['meta-title'] }}">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="meta-description" placeholder="Meta description" value="{{ body['meta-description'] }}">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="meta-image" placeholder="Meta image" value="{{ body['meta-image'] }}">
						</div>

						<div class="form-group">
							<input type="text" class="form-control {% if errors.mainTitle %}is-invalid{% endif %}" name="main-title" placeholder="Main title" value="{{ body['main-title'] }}">
							<div class="invalid-feedback">
								{% for error in errors.mainTitle %}
									<p class="error">{{ error }}</p>
								{% endfor %}
							</div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control {% if errors.slug %}is-invalid{% endif %}" name="slug" placeholder="Slug" value="{{ body.slug }}">
							<div class="invalid-feedback">
								{% for error in errors.slug %}
									<p class="error">{{ error }}</p>
								{% endfor %}
							</div>
						</div>

						<div class="form-group">
							<textarea name="main-paragraph" class="form-control" placeholder="Main paragraph">{{ body['main-paragraph'] }}</textarea>
						</div>
						<div class="form-group">
							<textarea name="bottom-description" class="form-control" placeholder="Bottom description">{{ body['bottom-description'] }}</textarea>
						</div>
						<div class="form-group">
							<textarea name="schema-description" class="form-control" placeholder="Schema description">{{ body['schema-description'] }}</textarea>
						</div>


						<h3>Top links</h3>
						<div class="form-row left-links">
							<div class="form-group col">
								<input type="text" class="form-control" name="links[left][title]" placeholder="Top left title" value="{{ body.links.left.title }}">
							</div>
							<div class="form-group col">
								<input type="text" class="form-control" name="links[left][href]" placeholder="Top left link href" value="{{ body.links.left.href }}">
							</div>
						</div>
						<div class="form-row right-links">
							<div class="form-group col">
								<input type="text" class="form-control" name="links[right][title]" placeholder="Top right title" value="{{ body.links.right.title }}">
							</div>
							<div class="form-group col">
								<input type="text" class="form-control" name="links[right][href]" placeholder="Top right href" value="{{ body.links.right.href }}">
							</div>
						</div>

						<h3>Cottages</h3>
						<div class="cottages">
							{% if action == 'update' and body.cottages|length %}
								{% for cottage in body.cottages %}
									<div class="form-row cottage">
										<div class="form-group col">
											<input type="text" class="form-control" name="cottages[{{loop.index0}}][slug]" placeholder="Slug" value="{{ body.cottages[loop.index0]['slug'] }}" autocomplete="off">
										</div>
										<div class="form-group col">
											<button class="btn btn-primary add"><i class="fas fa-plus"></i></button>
											<button class="btn btn-danger remove"><i class="fas fa-minus"></i></button>
										</div>
									</div>
								{% endfor %}
							{% else %}
								<div class="form-row cottage">
									<div class="form-group col">
										<input type="text" class="form-control" name="cottages[0][slug]" placeholder="Slug" value="" autocomplete="off">
									</div>
									<div class="form-group col">
										<button class="btn btn-primary add"><i class="fas fa-plus"></i></button>
										<button class="btn btn-danger remove"><i class="fas fa-minus"></i></button>
									</div>
								</div>
							{% endif %}
						</div>

						<h3>Link blocks</h3>
						<div class="link-blocks">
							{% if action == 'update' and body['link-blocks']|length %}
								{% for linkBlock in body['link-blocks'] %}
									<div class="form-row block">
										<div class="form-group col">
											<input type="text" class="form-control" name="link-blocks[{{loop.index0}}][title]" placeholder="Title" value="{{ body['link-blocks'][loop.index0]['title'] }}">
										</div>
										<div class="form-group col">
											<input type="text" class="form-control" name="link-blocks[{{loop.index0}}][link-title]" placeholder="Link title" value="{{ body['link-blocks'][loop.index0]['link-title'] }}">
										</div>
										<div class="form-group col">
											<input type="text" class="form-control" name="link-blocks[{{loop.index0}}][link-href]" placeholder="Link href" value="{{ body['link-blocks'][loop.index0]['link-href'] }}">
										</div>
										<div class="form-group col">
											<button class="btn btn-primary add"><i class="fas fa-plus"></i></button>
											<button class="btn btn-danger remove"><i class="fas fa-minus"></i></button>
										</div>
									</div>
								{% endfor %}
							{% else %}
								<div class="form-row block">
									<div class="form-group col">
										<input type="text" class="form-control" name="link-blocks[0][title]" placeholder="Title" value="{{ body['link-blocks'][0]['title'] }}">
									</div>
									<div class="form-group col">
										<input type="text" class="form-control" name="link-blocks[0][link-title]" placeholder="Link title" value="{{ body['link-blocks'][0]['link-title'] }}">
									</div>
									<div class="form-group col">
										<input type="text" class="form-control" name="link-blocks[0][link-href]" placeholder="Link href" value="{{ body['link-blocks'][0]['link-href'] }}">
									</div>
									<div class="form-group col">
										<button class="btn btn-primary add"><i class="fas fa-plus"></i></button>
										<button class="btn btn-danger remove"><i class="fas fa-minus"></i></button>
									</div>
								</div>
							{% endif %}
						</div>

						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="is-published" name="is-published" {% if body['is-published'] %}checked="checked"{% endif %}>
							<label class="form-check-label" for="is-published">Published</label>
						</div>
					</div>

					<div class="card-footer clearfix">
						<button type="submit" class="btn btn-lg btn-primary float-right"><i class="far fa-dot-circle"></i> {% if action == 'create' %}Create{% else %}Update{% endif %}</button>
					</div>
				</form>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block js %}
	<script>
		$(function() {
			$('.cottages').on('input', '.cottage input', function(e) {
				var parent = $(e.target).parent();
				var slug = e.target.value;

				parent.find('.hints').remove();

				if (slug.length > 2) {
					var hints = $('<div>', { 'class': 'hints' });
					$.ajax({
						url: '/admin/cottages/search.json/?slug=' + slug,
						success: function(cottages) {
							cottages.forEach(function(cottage) {
								hints.append('<span class="hint">' + cottage.slug + '</span>');
							});
							parent.append(hints);
						}
					});
				}
			});

			$('.cottages').on('click', '.hint', function(e) {
				var parent = $(e.target).parent().parent();
				var input = parent.find('input');
				var slug = $(e.target).html()

				parent.find('.hints').remove();
				input.val(slug)
			});


			/* cottages */
			$(document).on('click', '.cottages > .cottage .remove', function (e) {
				e.preventDefault();
				if ($('.cottages > .cottage').length === 1) return;
				$(this).closest('.cottage').remove();
			});
			$(document).on('click', '.cottages > .cottage .add', function (e) {
				e.preventDefault();
				var container = $('.cottages');
				var newCottage = container.children().filter('.cottage:first-child').clone();

				var newCottageSlug = newCottage.find('input[name*="[slug]"]');

				var count = parseInt(container.find('input[name*="[slug]"]').last().attr('name').match(/\d+/)[0], 10) + 1;

				newCottageSlug.attr('name', newCottageSlug.attr('name').replace(/\d+/, count));

				newCottage.find('input').each(function() {
					$(this).val('');
				});
				container.append(newCottage);
			});

			/* link blocks */
			$(document).on('click', '.link-blocks > .block .remove', function (e) {
				e.preventDefault();
				if ($('.link-blocks > .block').length === 1) return;
				$(this).closest('.block').remove();
			});
			$(document).on('click', '.link-blocks > .block .add', function (e) {
				e.preventDefault();
				var container = $('.link-blocks');
				var newBlock = container.children().filter('.block:first-child').clone();

				var newBlockTitle = newBlock.find('input[name*="[title]"]');
				var newBlockLinkTitle = newBlock.find('input[name*="[link-title]"]');
				var newBlockLinkHref = newBlock.find('input[name*="[link-href]"]');

				var count = parseInt(container.find('input[name*="[title]"]').last().attr('name').match(/\d+/)[0], 10) + 1;
				console.log('count', count);

				newBlockTitle.attr('name', newBlockTitle.attr('name').replace(/\d+/, count));
				newBlockLinkTitle.attr('name', newBlockLinkTitle.attr('name').replace(/\d+/, count));
				newBlockLinkHref.attr('name', newBlockLinkHref.attr('name').replace(/\d+/, count));

				newBlock.find('input').each(function() {
					$(this).val('');
				});
				container.append(newBlock);
			});
		});
	</script>
{% endblock %}
