{% extends 'admin/base.html' %}

{% block content %}
	{% if notAllowed %}
		<p>You are not allowed to edit this cottage</p>
	{% else %}
		<div class="article-form-container col-8">
			<div class="card">
				<div class="card-header">
					<h2 class="title">
						{% if action == 'create' %}
							Create
						{% else %}
							Update
						{% endif %}
					</h2>
				</div>
				<form class="article-form" method="post">
					<div class="card-body">
						<h2>General</h2>
						<div class="form-group">
							<select class="area-dropdown form-control {% if errors.area|length %}is-invalid{% endif %}" name="area">
								<option value="empty">Choose Area</option>
							</select>
							<div class="invalid-feedback">
								{% for error in errors.area %}
									<p class="error">{{ error }}</p>
								{% endfor %}
							</div>
						</div>
						<div class="form-group">
							<select class="county-dropdown form-control {% if errors.county|length %}is-invalid{% endif %}" name="county">
								<option value="empty">Choose County</option>
							</select>
							<div class="invalid-feedback">
								{% for error in errors.county %}
									<p class="error">{{ error }}</p>
								{% endfor %}
							</div>
						</div>
						<div class="form-group">
							<select class="town-dropdown form-control {% if errors.town|length %}is-invalid{% endif %}" name="town">
								<option value="empty">Choose Town</option>
							</select>
							<div class="invalid-feedback">
								{% for error in errors.town %}
									<p class="error">{{ error }}</p>
								{% endfor %}
							</div>
						</div>

						<div class="form-group">
							<input type="text" class="form-control" name="title" placeholder="Title" value="{{ body['title'] }}">
						</div>

						<div class="form-group">
							<input type="text" class="form-control {% if errors.slug|length %}is-invalid{% endif %}" name="slug" placeholder="Slug" value="{{ body['slug'] }}">
							<div class="invalid-feedback">
								{% for error in errors.slug %}
									<p class="error">{{ error }}</p>
								{% endfor %}
							</div>
						</div>

						<div class="form-group">
							<input type="number" step="any" class="form-control" name="sort-value" placeholder="Sort value" value="{{ body['sort-value'] }}">
						</div>
						<div class="form-group">
							<input type="number" step="any" class="form-control" name="ad-sort-order" placeholder="Advertisment sort order" value="{{ body['ad-sort-order'] }}">
						</div>
						<div class="form-group">
							<input type="number" step="any" class="form-control" name="sleeps" placeholder="Sleeps" value="{{ body['sleeps'] }}">
						</div>
						<div class="form-group">
							<input type="number" step="any" class="form-control" name="add-sleeps" placeholder="Add Sleeps" value="{{ body['add-sleeps'] }}">
						</div>
						<div class="form-group">
							<input type="number" step="any" class="form-control" name="bedrooms" placeholder="Bedrooms" value="{{ body['bedrooms'] }}">
						</div>
						<div class="form-group">
							<input type="number" step="any" class="form-control" name="pets" placeholder="Pets" value="{{ body['pets'] }}">
						</div>

						<h2>Listing</h2>
						<div class="form-group">
							<input type="text" class="form-control {% if errors.listingTitle|length %}is-invalid{% endif %}" name="listing-title" placeholder="Listing title" value="{{ body['listing-title'] }}">
							<div class="invalid-feedback">
								{% for error in errors.listingTitle %}
									<p class="error">{{ error }}</p>
								{% endfor %}
							</div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="listing-image-url" placeholder="Listing image url" value="{{ body['listing-image-url'] }}">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="listing-image-alt" placeholder="Listing image alt" value="{{ body['listing-image-alt'] }}">
						</div>
						<div class="form-group">
							<textarea class="form-control" name="listing-desc" placeholder="Listing desc">{{ body['listing-desc'] }}</textarea>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="listing-link-name" placeholder="Listing link name" value="{{ body['listing-link-name'] }}">
						</div>

						<h2>Primary</h2>
						<div class="form-group">
							<input type="text" class="form-control" name="primary-meta-title" placeholder="Primary meta title" value="{{ body['primary-meta-title'] }}">
						</div>
						<div class="form-group">
							<textarea class="form-control" name="primary-meta-desc" placeholder="Primary meta desc">{{ body['primary-meta-desc'] }}</textarea>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="primary-main-image-url" placeholder="Primary main image url" value="{{ body['primary-main-image-url'] }}">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="primary-main-image-alt" placeholder="Primary main image alt" value="{{ body['primary-main-image-alt'] }}">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="primary-main-title" placeholder="Primary main title" value="{{ body['primary-main-title'] }}">
						</div>
						<div class="form-group">
							<textarea name="primary-schema-desc" class="form-control" placeholder="Primary schema desc">{{ body['primary-schema-desc'] }}</textarea>
						</div>
						<div class="form-group">
							<textarea name="primary-body" class="form-control" placeholder="Primary body">{{ body['primary-body'] }}</textarea>
						</div>

						<h2>Enquiry</h2>
						<div class="form-group">
							<input type="text" class="form-control" name="enquiry-meta-title" placeholder="Enquiry meta title" value="{{ body['enquiry-meta-title'] }}">
						</div>
						<div class="form-group">
							<textarea class="form-control" name="enquiry-meta-desc" placeholder="Enquiry meta desc">{{ body['enquiry-meta-desc'] }}</textarea>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="enquiry-main-image-url" placeholder="Enquiry main image url" value="{{ body['enquiry-main-image-url'] }}">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="enquiry-main-image-alt" placeholder="Enquiry main image alt" value="{{ body['enquiry-main-image-alt'] }}">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="enquiry-main-title" placeholder="Enquiry main title" value="{{ body['enquiry-main-title'] }}">
						</div>
						<div class="form-group">
							<textarea name="enquiry-schema-desc" class="form-control" placeholder="Enquiry schema desc">{{ body['enquiry-schema-desc'] }}</textarea>
						</div>
						<div class="form-group">
							<textarea name="enquiry-body" class="form-control" placeholder="Enquiry body">{{ body['enquiry-body'] }}</textarea>
						</div>

						<h2>Location</h2>
						<div class="form-group">
							<input type="text" class="form-control" name="location-meta-title" placeholder="Location meta title" value="{{ body['location-meta-title'] }}">
						</div>
						<div class="form-group">
							<textarea class="form-control" name="location-meta-desc" placeholder="Location meta desc">{{ body['location-meta-desc'] }}</textarea>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="location-meta-image-url" placeholder="Location meta image url" value="{{ body['location-meta-image-url'] }}">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="location-meta-image-alt" placeholder="Location meta image alt" value="{{ body['location-meta-image-alt'] }}">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="location-main-title" placeholder="Location main title" value="{{ body['location-main-title'] }}">
						</div>
						<div class="form-group">
							<textarea name="location-schema-desc" class="form-control" placeholder="Location schema desc">{{ body['location-schema-desc'] }}</textarea>
						</div>
						<div class="form-group">
							<textarea name="location-body" class="form-control" placeholder="Location body">{{ body['location-body'] }}</textarea>
						</div>
						<div class="form-group">
							<input type="number" step="any" class="form-control" name="location-lat" placeholder="Location lat" value="{{ body['location-lat'] }}">
						</div>
						<div class="form-group">
							<input type="number" step="any" class="form-control" name="location-lng" placeholder="Location lng" value="{{ body['location-lng'] }}">
						</div>

						<h3>Filters</h3>
						{% for filter in filters %}
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="{{ filter.title }}" name="filters[]" value="{{ filter.title }}" {% if action == 'update' %}{% if filter.title in body.filters %}checked="checked"{% endif %}{% endif %}>
								<label class="form-check-label" for="{{ filter.title }}">{{ filter.title }}</label>
							</div>
						{% endfor %}

						<h3>Permissions</h3>
						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="is-advertisable" name="is-advertisable" {% if body['is-advertisable'] %}checked="checked"{% endif %}>
							<label class="form-check-label" for="is-advertisable">Is advertisable</label>
						</div>
						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="disabled-access" name="disabled-access" {% if body['disabled-access'] %}checked="checked"{% endif %}>
							<label class="form-check-label" for="disabled-access">Disabled access</label>
						</div>
						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="is-published" name="is-published" {% if body['is-published'] %}checked="checked"{% endif %}>
							<label class="form-check-label" for="is-published">Published</label>
						</div>

					</div>
					<div class="card-footer clearfix">
						<button type="submit" class="btn btn-lg btn-primary float-right"><i class="far fa-dot-circle"></i> {% if action == 'create' %}Create{% else %}Update{% endif %}</button>
					</div>
				</form>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block js %}
	<script>
		$(function() {
			var areaDrownDown = $('.area-dropdown');
			var countyDropDown = $('.county-dropdown');
			var townDropDown = $('.town-dropdown');
			var selectedArea = '{{ body.area }}';
			var selectedCounty = '{{ body.county }}';
			var selectedTown = '{{ body.town }}';

			$('.article-form').submit(function(e) {
				if (isFormValid()) {
					console.log('VLAID form')
					$('input[type="number"]').each(function() {
						var input = $(this);
						if (input.val() === '') {
							input.val('0')
						}
					});
				}
			});

			function isFormValid() {
				return $('.area-dropdown').find(':selected').text() !== 'empty' &&
					$('.county-dropdown').find(':selected').text() !== 'empty' &&
					$('.town-dropdown').find(':selected').text() !== 'empty' &&
					$('input[name="slug"]').val() !== '' &&
					$('input[name="listing-title"]').val() !== '';
			}

			$.ajax({
				url: '/admin/areas.json',
				success: function(areas) {
					clearDropDown(areaDrownDown, 'Choose Area');
					areas.forEach(function(area) {
						areaDrownDown
							.append($('<option></option>')
								.attr({ value: area.name })
								.html(area.name));
					});

					if (hasValue(selectedArea)) {
						areaDrownDown.val(selectedArea);
						$.ajax({
							url: '/admin/areas/' + selectedArea + '/counties',
							success: function(counties) {
								clearDropDown(countyDropDown, 'Choose County');
								counties.forEach(function(county) {
									countyDropDown
										.append($('<option></option>')
											.attr({ value: county.name })
											.html(county.name));
								});
								if (hasValue(selectedCounty)) {
									countyDropDown.val(selectedCounty);
									$.ajax({
										url: '/admin/areas/' + selectedArea + '/counties/' + selectedCounty,
										success: function(towns) {
											clearDropDown(townDropDown, 'Choose Town');
											towns.forEach(function(town) {
												townDropDown
													.append($('<option></option>')
														.attr({ value: town.name })
														.html(town.name));
											});

											if (hasValue(selectedTown)) {
												townDropDown.val(selectedTown);
											}
										}
									});
								}
							}
						});
					}
				}
			});

			areaDrownDown.change(function() {
				selectedArea = $(this).val();
				if (selectedArea === 'empty') {
					clearDropDown(countyDropDown, 'Choose County');
					clearDropDown(townDropDown, 'Choose Town');
					return;
				}

				$.ajax({
					url: '/admin/areas/' + selectedArea + '/counties',
					success: function(counties) {
						clearDropDown(countyDropDown, 'Choose County');
						counties.forEach(function(county) {
							countyDropDown
								.append($('<option></option>')
									.attr({ value: county.name })
									.html(county.name));
						});
					}
				});
			});

			countyDropDown.change(function() {
				selectedCounty = $(this).val();
				if (selectedCounty === 'empty') {
					clearDropDown(townDropDown, 'Choose Town');
					return;
				}

				$.ajax({
					url: '/admin/areas/' + selectedArea + '/counties/' + selectedCounty,
					success: function(towns) {
						clearDropDown(townDropDown, 'Choose Town');
						towns.forEach(function(town) {
							townDropDown
								.append($('<option></option>')
									.attr({ value: town.name })
									.html(town.name));
						});
					}
				});
			});

			function hasValue(value) {
				return value !== '' && value !== 'empty';
			}

			function clearDropDown(dropdown, text) {
				dropdown.empty();
				dropdown
					.append($('<option></option>')
						.attr({ value: 'empty' })
						.html(text));
			}
		});
	</script>
{% endblock %}
