{% extends 'base.html' %}

{% block content %}
	<h2>{{cottage.title}}</h2>
	<p>title: {{ cottage.title }}</p>
	<p>description: {{ cottage.description }}</p>
	<p>price info: {{ cottage.priceInfo }}</p>
	<p>contact name: {{ cottage.contactName }}</p>
	<p>bed rooms: {{ cottage.bedRooms }}</p>
	<p>sleeps: {{ cottage.sleeps }}</p>
	<p>lat: {{ cottage.lat }}</p>
	<p>lng: {{ cottage.lng }}</p>
	<p>town: {{ cottage.town }}</p>
	<p>country: {{ cottage.country }}</p>
	<p>area: {{ cottage.area }}</p>
	<p>map verified: {{ cottage.mapVerified }}</p>
	<p>rent: {{ cottage.rent }}</p>
	<p>dogs: {{ cottage.dogs }}</p>
	<p>postcode: {{ cottage.postcode }}</p>
	<p>sort value: {{ cottage.sortValue }}</p>
	<p>disabled: {{ cottage.disabled }}</p>
	<p>created at: {{ cottage.createdAt }}</p>
	<p>by {{ cottage.username }}</p>
{% endblock %}
