{% extends 'admin/base.html' %}

{% block content %}
	{% if notAllowed %}
		<p>You are not allowed to edit this</p>
	{% else %}
		<div class="filter-form-container col-8">
			<div class="card">
				<div class="card-header">
					<h2 class="title">
						{% if action == 'create' %}
							Create
						{% else %}
							Update
						{% endif %}
					</h2>
				</div>
				<form class="filter-form" method="post">
					<div class="card-body">
						<h3>Filter properties</h3>
						<div class="filters">
							{% for filter in filters %}
								<div class="filter">
									<span class="title">{{ filter.title}}</span> <i class="far fa-times-circle remove"></i>
								</div>
							{% endfor %}
						</div>

						<div class="form-row filter-box">
							<div class="form-group col">
								<input type="text" class="form-control" placeholder="Filter">
							</div>
							<div class="form-group col">
								<button class="btn btn-primary add"><i class="fas fa-plus"></i></button>
							</div>
							<input type="hidden" class="filter-holder" name="filters">
						</div>

					</div>
					<div class="card-footer clearfix">
						<button type="submit" class="btn btn-lg btn-primary float-right"><i class="far fa-dot-circle"></i> {% if action == 'create' %}Create{% else %}Update{% endif %}</button>
					</div>
				</form>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block js %}
<script>
	$(function() {
		updateFilters();

		$('.filter-box .add').click(function(e) {
			e.preventDefault();
			var filter = $('.filter-box input').val();
			var newFilter = ' <div class="filter"><span class="title">' + filter + '</span> <i class="far fa-times-circle remove"></i> </div>';

			if (filter !== '') {
				$('.filters').append(newFilter);
			}
			updateFilters();

			$('.filter-box input[type="text"]').val('');
		});

		$('.filters').on('click', '.filter .remove', function(e) {
			$(this).parent().remove();
			updateFilters();
		});

		function updateFilters() {
			var filters = $('.filters .filter .title').map(function() {
				return $(this).html();
			}).toArray();
			$('.filter-box .filter-holder').val(filters.join(','));
		}
	});
</script>
{% endblock %}
