{% extends 'base.html' %}

{% block content %}
	{% for cottage in cottages %}
		<h2><a href="/cottages/{{ cottage.slug }}">{{cottage.title}}</a></h2>
		<p>{{cottage.description}}</p>
	{% endfor %}
{% endblock %}
