{% extends 'admin/base.html' %}

{% block content %}
	<div class="cottage-list col">
		<div class="card">
			<div class="card-header">
				 <h2 class="d-inline-block"><i class="fa fa-align-justify"></i> {{ username }}'s Cottages</h2>
			</div>
			<div class="card-body">
				<table class="table table-responsive-sm">
					<thead>
						<tr>
							<th>Offer</th>
							<th>Start date</th>
							<th>End date</th>
							<th><span class="float-right pr-5">Actions</span></th>
						</tr>
					</thead>
					<tbody>
						{% for offer in offers %}
							<tr>
								<td><h3 class="d-inline mr-2">{{ offer.offer }}</h3></td>
								<td><h4>{{ offer.startDate.getDay() }}-{{ offer.startDate.getMonth() }}-{{ offer.startDate.getFullYear() }}</h4></td>
								<td><h4>{{ offer.endDate.getDay() }}-{{ offer.endDate.getMonth() }}-{{ offer.endDate.getFullYear() }}</h4></td>
								<td>
									<div class="actions float-right">
										<form class="d-inline" action="/admin/special-offers/{{ offer.id }}/delete" method="post">
											<input class="btn btn-lg btn-danger" type="submit" value="Delete">
										</form>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<ul class="pagination">
					<li class="page-item">
						<a class="page-link" href="#">Prev</a>
					</li>
					<li class="page-item active">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">4</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">Next</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
