{% extends 'admin/base.html' %}

{% block content %}
	{% if notAllowed %}
		<p>You are not allowed to edit this</p>
	{% else %}
		<div class="special-offer-form-container col-8">
			<div class="card">
				<div class="card-header">
					<h2 class="title">Create</h2>
				</div>
				<form class="special-offer-form" method="post">
					<div class="card-body">
						<div class="form-group">
							<select class="cottage-dropdown form-control {% if errors.cottage|length %}is-invalid{% endif %}" name="cottage">
								<option value="empty">Choose Area</option>
								{% for cottage in cottages %}
									<option value="{{ cottage }}">{{ cottage }}</option>
								{% endfor %}
							</select>
							<div class="invalid-feedback">
								{% for error in errors.cottage %}
									<p class="error">{{ error }}</p>
								{% endfor %}
							</div>
						</div>

						<div class="form-group">
							<input type="text" class="form-control {% if errors.offer|length %}is-invalid{% endif %}" name="offer" placeholder="Offer" value="{{ body['offer'] }}">
							<div class="invalid-feedback">
								{% for error in errors.offer %}
									<p class="error">{{ error }}</p>
								{% endfor %}
							</div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control {% if errors.startDate|length %}is-invalid{% endif %}" name="start-date" placeholder="Start date" value="{{ body['start-date'] }}">
							<div class="invalid-feedback">
								{% for error in errors.startDate %}
									<p class="error">{{ error }}</p>
								{% endfor %}
							</div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control {% if errors.endDate|length %}is-invalid{% endif %}" name="end-date" placeholder="End date" value="{{ body['end-date'] }}">
							<div class="invalid-feedback">
								{% for error in errors.endDate %}
									<p class="error">{{ error }}</p>
								{% endfor %}
							</div>
						</div>

						<div class="form-group">
							<input type="text" class="form-control" name="old-price" placeholder="Old price" value="{{ body['old-price'] }}">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="new-price" placeholder="New price" value="{{ body['new-price'] }}">
						</div>

					</div>
					<div class="card-footer clearfix">
						<button type="submit" class="btn btn-lg btn-primary float-right"><i class="far fa-dot-circle"></i> Create</button>
					</div>
				</form>
			</div>
		</div>
	{% endif %}
{% endblock %}
