{% extends 'admin/base.html' %}

{% block content %}
	<div class="col">
		<h1>Hey {{ username }}</h1>
		<h2><a href="/admin/articles">Articles</a></h2>
		<h2><a href="/admin/cottages">Cottages</a></h2>
	</div>
{% endblock %}
