{% extends 'admin/base.html' %}

{% block content %}
	<form class="auth-form " method="post">
		<h1 class="h3 mb-3 font-weight-normal">Sign up</h1>

		<div class="errors">
			{% for error in errors.general %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endfor %}
		</div>

		<div class="form-group">
			<input type="text" class="form-control {% if errors.username|length %}is-invalid{% endif %}" name="username" placeholder="Username" value="{{ body.username }}">
			<div class="invalid-feedback">
				{% for error in errors.username %}
					<p class="error">{{ error }}</p>
				{% endfor %}
			</div>
		</div>

		<div class="form-group">
			<input type="text" class="form-control {% if errors.email|length %}is-invalid{% endif %}" name="email" placeholder="Email" value="{{ body.email }}">
			<div class="invalid-feedback">
				{% for error in errors.email %}
					<p class="error">{{ error }}</p>
				{% endfor %}
			</div>
		</div>

		<div class="form-group">
			<input type="password" class="form-control {% if errors.password|length %}is-invalid{% endif %}" name="password"placeholder="Password">
			<div class="invalid-feedback">
				{% for error in errors.password %}
					<p class="error">{{ error }}</p>
				{% endfor %}
			</div>
		</div>

		<input type="submit" class="btn btn-lg btn-primary float-right" value="Sign up"> 
	</form>
{% endblock %}
